.nav {
    grid-area: n;
    background-color: red;
    padding: 20px;
    border: none;
    border-radius: 15px;
    margin: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}